<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="deskewing" xml:lang="fr">

<info>
    <link type="guide" xref="index#configuration"/>
    <link type="seealso" xref="manualeditionandcorrection"/>
    <desc>Corriger l'inclinaison dans les images</desc>
</info>

<title>Redressement</title>

<p>Certaines images, surtout si elles ont été ajoutées à partir d'un scanner, peuvent être inclinées ce qui rend la reconnaissance plus difficile.</p>

<p><app>OCRFeeder</app> intègre un outil pour automatiser le redressement d'une image. Pour redresser une image chargée, cliquez sur <guiseq><gui>Outils</gui><gui>Redresseur d'image</gui></guiseq>.</p>

<p>Vous pouvez aussi automatiser ce redressement chaque fois qu'une image est ajoutée. Pour le configurer, ouvrez la boîte de dialogue <gui>Préférences</gui> du menu <guiseq><gui>Édition</gui><gui>Préférences</gui></guiseq> et cochez <gui>Redresser les images</gui> dans l'onglet <gui>Outils</gui>.</p>

<note type="warning"><p>Redresser une image peut prendre un certain temps en fonction de la taille et des caractéristiques de celle-ci.</p></note>

</page>
