<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="addingfolder" xml:lang="el">

<info>
    <link type="guide" xref="index#images"/>
    <link type="seealso" xref="addingimage"/>
    <desc>Προσθήκη όλων των εικόνων από έναν φάκελο</desc>
</info>

<title>Προσθήκη φακέλου</title>

<p>Μερικές φορές είναι χρήσιμη η προσθήκη όλων των εικόνων από έναν δεδομένο φάκελο. Το <app>OCRFeeder</app> παρέχει αυτή τη λειτουργία επιλέγοντας <guiseq><gui>Αρχείο</gui><gui>Προσθήκη φακέλου</gui></guiseq>.</p>

</page>
