<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="importingpdf" xml:lang="el">

<info>
    <link type="guide" xref="index#images"/>
    <link type="seealso" xref="addingimage"/>
    <desc>Εισαγωγή εγγράφων PDF</desc>
</info>

<title>Εισαγωγή PDF</title>

<p>Κάποια έγγραφα δεν είναι τίποτα περισσότερο από εικόνες τοποθετημένες σε ένα έγγραφο PDF. Για περιπτώσεις σαν αυτή, το <app>OCRFeeder</app> μπορεί ακόμα να εισάγει ένα έγγραφο PDF, έτσι ώστε να μπορεί έπειτα να μετατραπεί σε ένα επεξεργάσιμο έγγραφο.</p>

<p>Για να εισάγετε ένα έγγραφο PDF, πατήστε <guiseq><gui>Αρχείο</gui><gui>Εισαγωγή PDF</gui></guiseq>.</p>

<p>Κάθε σελίδα PDF θα μετατραπεί σε μια εικόνα και θα τοποθετηθεί στην περιοχή σελίδων.</p>

<note style="warning"><p>Η μετατροπή PDF μπορ να είναι μια απαιτητική διεργασία και να πάρει κάποιον χρόνο για μεγάλα αρχεία PDF.</p></note>

</page>
