<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="manualeditionandcorrection" xml:lang="ru">

<info>
    <link type="guide" xref="index#recognition"/>
    <link type="seealso" xref="addingimage"/>
    <link type="seealso" xref="automaticrecognition"/>
    <desc>Редактирование и исправление результатов вручную</desc>
</info>

<title>Редактирование вручную</title>

<p>Может возникнуть необходимость вручную выбрать для распознавания только часть изображения или исправить результаты автоматического распознавания. <app>OCRFeeder</app> позволяет пользователям легко редактировать вручную каждый аспект содержимого документа.</p>

<section>

<title>Области содержимого</title>

<p>Содержимое документа представлено областями, как на следующем изображении:</p>
<media type="image" mime="image/png" src="figures/content-areas.png" width="300px">Изображение двух областей содержимого, одна из них выделена.</media>

<p>Параметры выбранной области отображаются и могут быть изменены в правой части главного окна, как показано на следующем изображении:</p>
<media type="image" mime="image/png" src="figures/areas-edition.png" width="200px">Изображение, показывающее интерфейс редактирования областей</media>

<p>В нижеследующем списке описаны атрибуты областей содержимого:</p>
<list>
    <item><p><em>Тип</em>: указывает, является ли область содержимого изображением или текстом. Область типа «изображение» из исходной страницы без изменений помещается в создаваемый документ. Для области типа «текст» выполняется оптическое распознавание содержимого, и она отображается в создаваемом документе в виде текста (в документах ODT — в виде текстовых врезок).</p></item>
    <item><p><em>Фрагмент изображения</em>: показывает текущий фрагмент области содержимого в увеличенном масштабе, позволяя пользователю проверить, что именно находится в данной области.</p></item>
    <item><p><em>Границы</em>: показывают координаты (X и Y) области в исходном изображении, а также ширину и высоту области.</p></item>
    <item><p><em>Движок OCR</em>: позволяет пользователю выбрать движок оптического распознавания и распознать текст из области с его помощью (нажатием кнопки <gui>Распознать</gui>)</p>. <note type="warning"><p>Распознавание текста движком OCR, выбранным для данной области, заменяет текст, распознанный выбранным ранее движком.</p></note></item>
    <item><p><em>Вкладка «Текст»</em>: показывает текст, распознанный в данной области и позволяет пользователю его редактировать. Вкладка неактивна, если область имеет тип «изображение»</p></item>
    <item><p><em>Вкладка «Стиль»</em>: позволяет пользователю выбрать гарнитуру и размер шрифта, а также способ выравнивания текста, межстрочный и межбуквенный интервалы.</p></item>
</list>

<p>Области содержимого можно выбирать щелчком на них или с помощью команд меню <guiseq><gui>Документ</gui><gui>Выделить предыдущую область</gui></guiseq> и <guiseq><gui>Документ</gui><gui>Выделить следующую область</gui></guiseq>. Существуют также комбинации клавиш для этих действий: <keyseq><key>Ctrl</key><key>Shift</key><key>P</key></keyseq> и <keyseq><key>Ctrl</key><key>Shift</key><key>N</key></keyseq>, соответственно.</p>

<p>Выделить все области можно с помощью команды меню <guiseq><gui>Документ</gui><gui>Выделить все области</gui></guiseq> или комбинации клавиш <keyseq><key>Ctrl</key><key>Shift</key><key>A</key></keyseq>.</p>

<p>Если выделены одна или несколько областей, можно автоматически распознать их содержимое или удалить их. Для этого используйте команды меню <guiseq><gui>Документ</gui><gui>Распознать выделенные области</gui></guiseq> и <guiseq><gui>Документ</gui><gui>Удалить выделенные области</gui></guiseq> (или клавишу <keyseq><key>Ctrl</key><key>Shift</key><key>Delete</key></keyseq>).</p>

</section>

</page>
