<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="unpaper" xml:lang="ru">

<info>
    <link type="guide" xref="index#configuration"/>
    <link type="seealso" xref="manualeditionandcorrection"/>
    <desc>Очистка изображений перед оптическим распознаванием</desc>
</info>

<title>Unpaper</title>

<p><em>Unpaper</em> — это инструмент для очистки изображений, облегчающий их чтение на экране. Он предназначен в основном для очистки изображений, полученных со сканированных документов, на которых обычно видны пыль, чёрные поля и другие дефекты.</p>

<p><app>OCRFeeder</app> может использовать <em>Unpaper</em> для очистки изображений перед их обработкой, что обычно улучшает качество распознавания.</p>

<p>Чтобы использовать <em>Unpaper</em>, он должен быть установлен. Если он не установлен, <app>OCRFeeder</app> не будет показывать относящиеся к работе с ним элементы интерфейса.</p>

<p>Для очистки в <em>Unpaper</em> загруженного изображения используйте команду меню <guiseq><gui>Инструменты</gui><gui>Unpaper</gui></guiseq>. Откроется диалоговое окно <gui>Обработчик изображений Unpaper</gui> с параметрами <em>Unpaper</em> и областью для предварительного просмотра изменений перед их применением к загруженном изображению. В зависимости от размера и характеристик изображения, использование этого инструмента может занять некоторое время.</p>

<p>Чтобы настроить <em>Unpaper</em>, откройте <guiseq><gui>Правка</gui><gui>Параметры</gui></guiseq> и перейдите на вкладку <gui>Инструменты</gui>. Здесь можно указать путь к исполняемому файлу <em>Unpaper</em> (обычно он уже указан, если <em>Unpaper</em> был установлен на момент первого запуска <app>OCRFeeder</app>). На этой же вкладке, в разделе <gui>Предварительная обработка изображения</gui>, можно включить параметр <gui>Очищать изображения</gui>, чтобы изображения автоматически обрабатывались в <em>Unpaper</em> после их загрузки в <app>OCRFeeder</app>. Параметры, передаваемые <em>Unpaper</em> при его автоматическом вызове после добавления изображения, можно настроить, нажав кнопку <gui>Параметры Unpaper</gui>.</p>

</page>
