<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="index" xml:lang="uk">

<info>
    <desc>Довідка для <app>Системи перетворення документів OCRFeeder</app></desc>
    <title type="link">Система перетворення документів OCRFeeder</title>
    <title type="text">Система перетворення документів OCRFeeder</title>
    <credit type="author">
      <name>Joaquim Rocha</name>
      <email>me@joaquimrocha.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
</info>

<title>Система перетворення документів OCRFeeder</title>
<p>OCRFeeder — система аналізування структури документа та оптичного розпізнавання символів.</p>

<p>OCRFeeder створено, щоб допомогти користувачам легко перетворювати зображення документів (наприклад, малюнок формату PNG з текстом) у документи з можливістю редагування (наприклад, файл ODT з цим текстом).</p>

<p>Отримавши зображення він автоматично розмічає його вміст, розрізняє графіку і текст та виконує оптичне розпізнавання тексту. Програма породжує файли різних форматів, основним з яких є ODT.</p>

<p>У цьому посібнику пояснюється, як налаштувати та використовувати OCRFeeder.</p>

<section id="images" style="2column">
    <title>Додавання зображень</title>
</section>

<section id="recognition" style="2column">
    <title>Розпізнавання</title>
</section>

<section id="configuration" style="2column">
    <title>Налаштування</title>
</section>

<section id="projects" style="2column">
    <title>Проекти</title>
</section>

</page>
